[2009-12-26 05:28] consiliens opened #1 "rb-inotify does not yet work on JRuby"
use native read calls to work around JVM's current lack of real file descriptors

[2009-12-26 11:18] #1 closed, assigned to nobody

[2010-02-07 21:58] anshul opened #2 "rdoc"
Hi!

Where can I find a rdoc?  [rdoc.info](http://rdoc.info/projects/nex3/rb-inotify) didn't quite work...

[2010-02-08 01:44] #2 closed, assigned to nobody

[2010-04-24 15:13] dsrw opened #3 "Callbacks don't fire when using :recursive and :all_events"
Line 182 of notifier.rb doesn't invoke the callback.

Possible solutions would be to expand :all_events into a list of symbols in the watch method, use Native::Flags_to_mask to convert events.flags and the watcher's flags array on line 182, or to simply always fire the callback when flags contains :all_events.

[2010-04-25 08:33] #3 closed, assigned to nobody

[2010-05-25 08:32] malclocke opened #4 "Watchers are one_shot by default ... by design or not?"
Sorry, I'm not sure whether this is expected behaviour or not.  Looking at the C docs and rb-inotify docs it appears not.

On my systems (Debian Lenny & Ubuntu Lucid, Linux 2.6.26 & 2.6.32, Ruby 1.8.7, rb-inotify 0.7.2), events appear to get the one_shot flag by default.

The following script:

[code]

... when I modify foo.txt, outputs ...

[code]

And according to the C docs:

[code]

I'm not de

[2010-06-04 11:20] #4 closed, assigned to nobody

[2010-10-27 13:32] jvalrog opened #6 "Watcher stopping after error"
It would be nice to be able to continue after a file or directory can't be opened by the watcher. May be a :ignore_errors flag?

This is what is happening to me:

irb(main):007:0> notifier.watch("/dev", :recursive, :modify, :dont_follow) do |event|
irb(main):008:1\*     puts event.name
irb(main):009:1> end
Errno::ENOTDIR: Not a directory - /dev/fd/3
  from /usr/lib/ruby/gems/1.8/gems/rb-inotify-0.

[2010-11-11 01:30] ghost opened #7 "unhandled EINTR"
## steps to reproduce:
1. create a notifier (like https://gist.github.com/671294)
2. run it
3. background it
4. foreground it
## expected behavior:

 notifier will continue notifying
## actual behavior:

 EINTR is unhandled, notifier crashes (when running with ajkovar's patch, otherwise it hits the unresolved name)

maybe this is supposed to be handled by the user of the library?  if so, maybe rb-

[2010-11-16 13:06] #6 closed, assigned to nobody

[2010-11-16 13:15] #7 closed, assigned to nobody

[2010-12-04 21:30] danielsreichenbach opened #8 "Permissions broken"
Something is wrong with version 0.8.3.

If you install it, you can _not_ use it, since file permissions are 640 and not 644.

[2010-12-06 00:21] #8 closed, assigned to nobody

[2011-01-04 07:50] thibaudgg opened #9 "Threadable?"
Hi Nathan,

We got some issue with rb-inotify and thread in a new Guard approach.
https://github.com/guard/guard/issues#issue/25
Can you confirm that rb-inotify doesn't support thread?

Thanks for your help,
Thibaud

[2011-05-20 14:28] telent opened #12 "Wishlist: non-callback interface"
I'd like to incorporate inotifiers into an application that has its own event loop based on Kernel.select.  The #to_io method is great as far as it goes in that I can tell when new inotify events have been sent by the system, but to retrieve and parse them involves a dance with callbacks: I'd have to write a callback which saves them somewhere, call #process to call it, and then inspect the saved

[2011-06-21 07:11] shanlalit opened #13 "On Rails cache files, No such file or directory - Failed to watch"
Gaurd crashes, when rails cache files are created. It  works fine if I configure Test environment cache_store to memcached instead for file store which is default.

REE 1.8.7
Rails 3.0.7

<pre>
/home/shanlalit/.rvm/gems/ree-1.8.7-2011.03@rails3/gems/rb-inotify-0.8.5/lib/rb-inotify/watcher.rb:80:in `initialize':
No such file or directory - Failed to watch "/home/shanlalit/work/x-project/tmp/cache/U

[2011-08-02 20:42] #9 closed, assigned to nobody

[2011-08-02 20:42] #13 closed, assigned to nobody

[2011-09-24 14:29] dorra opened #16 "Ruby 1.9.2: notifier.rb throws exception if non UTF-8 characters are in filenames"
[code]

[2011-09-27 20:34] #16 closed, assigned to nobody

[2012-05-02 08:55] petur03 opened #18 "Requires reregistering of watchers"
Hi

I've been using your gem, but it's not working quite as I would expect.

It seems that I have to reregister the watcher whenever an event has occurred. So running notifier.run will loop forever, but only handle each registered event once. To continuously handle events I have to use notifier.process in a loop and run notifier.watch after process, see example below. If I omit the call to watch()

[2012-07-12 23:52] dakimaru opened #19 "Depreciation warning"
I have a depreciation warning for rb-inotify in my rails app. I was wondering if anyone else had it and how this can be resolved. It appears in almost any command, including db: commands and `rails c` for console. It does not affect the performance at this point, but gives me the following error message:

[code]

The only item I have in vendor/plugins is rb-inotify.
Please help!

[2012-10-18 11:04] akerbos opened #21 "Cycles of symlinks cause infinite loop/recursion"
When used in combination with [guard/listen](https://github.com/guard/listen), cycles of symlinks cause nontermination. I don't quite know whether the reason lies here or in `listen`.

See also [here](https://github.com/guard/listen/issues/25).

[2012-12-01 01:53] #19 closed, assigned to nobody

[2013-01-11 08:33] cordawyn opened #23 "Too many open files - Failed to initialize inotify: the user limit on the total number of inotify instances has been reached."
Every now and then [guard] fails to start with the following message:

11:21:41 - INFO - Guard is now watching at '/home/cordawyn/Projects/test'
/home/cordawyn/.rvm/gems/ruby-1.9.3-p327-turbo/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:66:in `initialize': Too many open files - Failed to initialize inotify: the user limit on the total number of inotify instances has been reached. (Errno::EMFIL

[2013-01-11 22:24] #23 closed, assigned to nobody

[2013-01-12 01:24] #12 closed, assigned to nobody

[2013-04-30 12:46] SamSaffron opened #25 "Strange results when watching a single file"
For:

[code]

I get a single notify event when I save the file and none after no matter how I change the file

for:

[code]

I get notify events properly, is there a caveat / bug around single file watching?

[2013-05-10 00:30] #25 closed, assigned to nobody

[2013-09-17 05:02] bf4 opened #28 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http://docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

[code]

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can imagine, scanning your repository for a LICENSE file or parsing the READ

[2013-09-19 11:41] criography opened #29 "Compass watch crashes on rb-inotify."
I honestly don't know whether it's compass, sass, ruby, rb-inotify bug or something I'm screwing on my side, but every few minutes `compass watch` crashes throwing these:

[code]

All gems installed are:

[code]

Any clues?

[2013-10-21 04:20] kubido opened #30 "Multiple event when file created"
Hi,

I create a watcher in ftp server to watch a folder with :all_events. when I upload a file. and log the event name. and the result is:

[code]

it's a normal behaviour when a file created and triggered 3 events in a row?

[2013-11-23 01:43] #30 closed, assigned to nobody

[2013-11-25 21:55] mkasztelnik opened #31 "Different events generated while monitoring file and directory (with file)"
This is a issue discovered and discussed in this thread: https://github.com/guard/listen/issues/155

I'm using kubuntu 13.10 and SublimeText3 (build 3056 but the same issue occurs in previous builds). It seems like `rb-inotify` generates different events when listening file and directory. Following code:

[code]

generates:

[code]

while saving file using Sublimetext3. But following code:

[code]

[2013-12-07 00:32] #31 closed, assigned to nobody

[2013-12-14 00:54] #28 closed, assigned to nobody

[2013-12-14 01:01] #29 closed, assigned to nobody

[2014-04-20 20:18] amoghe opened #32 "Possible "watcher" leak"
When a new ```Watcher``` is created, it adds itself to the notifiers hash (of watchers) using this:
[code]

However, when the same watcher is now ```#close```d, it does not delete itself from the hash.

This causes the watcher to never get GC'ed because the notifier hash will always contain a reference to it. Now a sequence of constantly changing watchers will result in several "leaked" objects.

[2014-05-30 14:52] coreyhaines opened #34 "Add License information to Gemspec"
This will make it show up on rubygems.org. I'm doing due diligence on our gems and need to find out the licenses for all the gems. Having it show up on rubygems.org cuts out the step of having to go to the github repo.

[2014-09-03 03:42] mufid opened #36 "rb-inotify does not work well with Foreman"
I want to make a worker with inotify. I am using 32-Bit Ubuntu 12.04. Yet, I don't know why code involving `rb-inotify` won't work well with current inotify.

Test: https://github.com/mufid/foreman-test (it is just a small test repo)

Init:

[code]

The Procfile

[code]

Test with foreman will freeze the process. No output. The inotify process also won't work.

[code]

But without foreman, the pro

[2014-09-03 06:57] #36 closed, assigned to nobody

[2014-09-22 09:12] AnchorCat opened #39 "INotify::Notifier#process does not necessarily process all events"
`README.md` says of `INotify::Notifier#process`:

[code]

However, `inotify(7)` says:

[code]

Note that an inotify `read(2)` does not _necessarily_ need to read all events from the queue to be successful; reading at least one event is sufficient. This is not accounted for in `INotify::Notifier#read_events` (called by `#process`), which will simply return all events from a successful `read(2)`. Th

[2014-10-31 14:08] njam opened #41 "Closing notifier in watch-callback leads to error"
When `close`ing a notifier from within the callback-block of a `watch`, then the `process` call on the notifier will fail.
It seems that the *event* tries to access its *watcher* which fails because it has already been removed (from the `close` call).

Script to reproduce:
[code]

Output:
[code]

I'm not sure how this should be fixed, any hints?

[2015-02-27 18:08] njam commented on #32
I think this is merged and released, so this could be closed?

[2015-03-03 21:20] amoghe commented on #32
@njam : done

[2015-03-03 21:20] #32 closed

[2015-04-07 12:15] puneet24 opened #45 "Event not fired on Deletion of file from GUI"
I have applied watch on particular file for all the events. It notifies me all events except when file is deleted from GUI.
When file is deleted from GUI no event is fired.
When I removed file from CLI it gave me [:attrib] event.

[2015-06-10 17:31] CalebFenton commented on #34
This can be closed as of https://github.com/nex3/rb-inotify/commit/6cecf6a645e75756f3d26ced8b8a700b4271b166

[2015-06-19 06:45] swaathi opened #46 "HELP: How can I find the old name of a file/directory when it is renamed?"

[2015-06-19 23:13] #34 closed

[2015-06-19 23:52] nex3 commented on #46
Two events are emitted whenever a rename occurs, one `:moved_from` event and one `:moved_to` event. Each of these events will have `Event#related` refer to the other.

[2015-06-19 23:52] #46 closed

[2015-06-22 18:52] shuhaowu opened #47 "stop will not stop immediately. it will stop after the next event"
If you have no events coming in, then calling `stop` after calling `run` in a separate thread will not cause `run` to unblock. Instead, it will only stop after another event has been processed.

[2015-06-23 17:15] shuhaowu commented on #47
Perhaps with an option the run loop could be using IO.select, or something like that.

[2015-08-06 00:40] shrutika10 opened #48 "Ability to exclude certain files when using recursive watch"
We need to be able to exclude certain files when using recursive watch. Currently i did not find anything. Does it already exist? How do we use it?

[2015-08-06 06:51] digitalextremist commented on #48
I personally use `find` and individually watch files that I do want.

[2015-08-14 21:06] nex3 commented on #48
Unless you're individually calling it file-by-file, inotify watches *directories*, not files. You'll just need to filter out the events after the fact.

[2015-08-14 21:36] #48 closed

[2016-02-08 10:53] ehirsch opened #52 "Version 0.9.7 can't be downloaded from rubygems.org"
I don't know, if you can do anything about that. But wanted to let you know.

I get the following error:

[code]

[2016-02-08 16:45] jonnyasmar commented on #52
^ Having the same issue here.

[2016-02-08 16:56] jpete commented on #52
^ Same issue

[2016-02-08 18:57] matthew-lang commented on #52
^ Same here

[2016-02-08 23:11] nex3 commented on #52
I've pushed a new patch version, and it looks like it works. I guess something went awry with the upload process last time.

[2016-02-09 00:23] ericrrath commented on #52
I think the gem can be downloaded from rubygems.org.  But the torquebox URL -- http://rubygems-proxy.torquebox.org/releases/rubygems/rb-inotify/0.9.6/rb-inotify-0.9.6.gem -- produces a response with status 403 and a body that appears to be generated by AWS.

[2016-02-09 02:32] johnnyshields commented on #52
See this for explanation from rubygems: https://github.com/rubygems/rubygems.org/issues/1192

[2016-02-09 12:20] ehirsch commented on #52
Thanks for the quick response!
but while there is no 403 error any more it is now 404. The Problem remains I am afraid.

[2016-02-09 15:21] tommybstitch commented on #52
0.9.6 has been yanked from rubygems which is causing many problems for me. Why has 0.9.6 been yanked?

[2016-02-12 19:19] nex3 commented on #52
I have indeed yanked 0.9.6 because it was broken—0.9.7 is identical except for its version number. It looks like it's still not downloadable from torquebox, though, which at this point seems like a rubygems.org issue. I don't want to upload yet another version unless I know it'll fix the problem, so I'd appreciate it if someone contacted the rubygems.org folks and figured out what's going on on th

[2016-02-12 19:35] jpete commented on #52
I contacted them on 2/8, just before I posted the bump here. I have not heard anything back, and it is still down so maybe they have not gotten to it yet.

[2016-05-02 22:00] e2 commented on #47
For completeness, here's a failing example on JRuby:

[code]

Any workaround possible? Any way to reliably trigger or simulate an inotify event?

[2016-05-06 20:56] #41 closed

[2016-07-22 20:27] paoloaga commented on #18
The solution is to handle the flag ":ignored" and re-instance the notifier.watch whenever you receive one.

[2016-12-14 12:55] juhaerk commented on #21
I think I have run into this with no guard/listen involved. The following code triggers the issue (tested on Ubuntu Trusty, with both rb-inotify 0.9.2 and 0.9.7, on Linux kernel 3.13.0 and ruby 2.0).

[code]

The process gets into an apparent infinite loop, going through paths such as `/proc/self/task/28712/fd/8/task/28712/fd/8/task/28712/fd/8/task/28712/fd/8/task/28712/fd/8/task/28712/fd/8/task/2

[2017-03-21 01:14] ioquatix opened #61 "ERROR -- : run() in thread failed: stream closed:\n rb-inotify-0.9.8/lib/rb-inotify/notifier.rb:304:in `readpartial'"
Discussed here: https://github.com/guard/guard/issues/833

Apparently fixed here: https://github.com/e2/rb-inotify/commits/misc_bugfixes

Specifically https://github.com/e2/rb-inotify/commit/be4cf88b4dab0bb3a899b16a0df8a6fcf1502e16

Full error:

[code]

[2017-03-21 01:17] ioquatix commented on #61
I've confirmed that using

[code]

indeed fixes the bug on my computer.

[2017-03-21 01:18] ioquatix commented on #61
@e2 could you make a PR for @nex3?

[2017-03-21 01:19] ioquatix commented on #61
Oh, looks like a PR already exists: https://github.com/nex3/rb-inotify/pull/59

@nex3 can you merge this and make a point release?

[2017-04-20 05:15] ioquatix commented on #61
@nex3 Just touching base again as discussed.

[2017-04-21 12:46] junaruga opened #62 "Propotal: Unit test?"
Hello,

`rb-inotify` is used from Rails.
and `rb-inotify` RPM package is manged by Fedora Project.
https://admin.fedoraproject.org/pkgdb/package/rpms/rubygem-rb-inotify/

So, I want to add unit tests to test `rb-inotify`.
And I guess that nowadays `minitest` is best choice for that.

How do you think?
I am going to send pull-request as my proposal soon.

[2017-05-16 11:12] #62 closed

[2017-05-17 02:20] ioquatix opened #66 "Better coordination/shared organisation"
Hello Everyone. I did make some individual issues on these points but I thought I'd make one shared issue here to get everything in one place.

1. Shared organisation. I'd like to propose that we have a shared organisation for `rb-inotify`, `rb-kqueue`, and `rb-fsevent`.

    I'm trying to bring everyone together to form a consensus.

    There are two ideas I have

    - Using the `guard` organis

[2017-05-17 02:24] ioquatix commented on #66
Other things we standardise on:

- RSpec
- Travis testing
- RuboCop
- Naming conventions
- High level interface/shared specs
- Modern gem structure (require_relative, bundler, etc)

[2017-05-17 02:27] ioquatix commented on #66
Hmm, there is one more thing I've been working on recently - and that is a gem called `async`.

https://github.com/socketry/async

It would be nice if we could expose the individual underlying IO objects in a way that was easily composable with async. I know that `rb-inotify` can expose the underlying io object.

[code]

It would be nice if we had some consistency across the different implementati

[2017-05-17 07:20] thibaudgg commented on #66
@ioquatix thanks for starting the discussion, I'll think about it and give feedback before the end of the week.

I would like to bring @e2 (guard and listen maintainer) and @ttilley (main latest rb-fsevent version author) to the discussion.

[2017-05-17 09:21] junaruga commented on #66
Thanks for starting this discussion.

1. =>
  I agree! The organization repository is much better than individual repository.
  In my opinion, using `guard` organization looks better.
  But using new organization is also fine.
  The benefits of using the organization repository are
    * It is good to scale the projects. Good for future's change.
    * Several maintainers are better than a maintai

[2017-05-17 10:37] ioquatix commented on #66
On point 2, I think there is only one good solution.

We make new gem by forking existing code.

The existing gem is released as 1.0 but depends on new gem, and exposes new gem via old (current) interface. It can include suitable deprecation warning/notice.

None of the gems reached 1.x so semantically I think this isn't a bad option.

[2017-05-17 11:00] ioquatix commented on #66
There is one other option to consider. I'd like to have your feedback too.

Does it really make sense for these to be separate gems?

Yes, they are really different.

But, they are basically doing the same thing. The implementation detail can be quite different, but it could be hidden within platform specific drivers. This way, people who depend on this code don't need to have their own platform s

[2017-05-17 12:41] junaruga commented on #66
That's a great point.
If we need "Shared test suite. Since these gems are largely doing the same thing", essentially these gems can be unified.

I agree with you.

[2017-05-17 12:44] junaruga commented on #66
It looks good to me.

[2017-05-17 12:44] ioquatix commented on #66
An argument against having a single gem relates to dependencies.

For example `rb-inotify` uses ffi, while `rb-fsevent` uses a hand compiled binary (?). Rolling these all into one gem might be an issue? Can we have platform specific gem dependencies?

[2017-05-17 12:47] ioquatix commented on #66
Thought I'd just mention this here as I saw it: https://github.com/guard/guard/wiki/Maintainers

[2017-05-17 15:43] junaruga commented on #66
In the case of `listen`, Maybe it manages the platform specified logic as adapter file.
https://github.com/guard/listen/tree/master/lib/listen/adapter

Abut the gem dependencies, the policy is like this way.
It requires platform specific gem in the adapter file.
https://github.com/guard/listen/pull/417

And managing the Mac specific library `rb-fsevent` in `listen.gemspec` like below URL.
https://

[2017-05-19 12:58] thibaudgg commented on #66
Hey, here my thoughts/comments:

1. Sounds like a good idea, I would be fine moving them under the Guard authorization. You can ask me for the authorization.

2. That one is tricky, I think it would be OK to "rename" the gems (`fs-macos`, `fs-linux` ?) by updating the current gems to 0.99 with the existing code and a  [post_install_message](http://guides.rubygems.org/specification-reference/#post_

[2017-05-19 13:01] ioquatix commented on #66
@thibaudgg Thanks for your input. I'd still like to hear from other interested parties before making any general plan of action, but your ideas are good.

[2017-05-20 12:45] ioquatix commented on #61
This has been merged and fixed.

[2017-05-20 13:21] ioquatix commented on #18
Now that we have test, it would be great to add a spec for this including some documentation for the correct way this should be handled.

[2017-05-20 13:23] ioquatix commented on #21
Can you confirm this is fixed?

[2017-05-20 13:27] ioquatix commented on #66
Hello again. I've spent a few hours modernising the rb-inotify gem to use bundler, merged in many of the outstanding bug fix PRs, and other things. Unfortunately the test suite is small. I'll try to work on that.

[2017-05-20 13:33] ioquatix commented on #66
Just an idea: What about naming gems e.g. `listen-inotify`. We can expose platform specific code, but also an adapter. I would like to believe the `listen` gem has got a nice test suite already. `listen-inotify` can sit inside module `Listen::INotify` and the gem itself could provide the generic adaptor some how.

I wonder if this is coupling too much to listen? However, that gem is basically the

[2017-05-20 13:35] ioquatix commented on #66
Additionally, I've just been given access to guard org, so I'll be moving this gem to there.

[2017-05-20 13:37] thibaudgg commented on #66
That would be a solution, @rymai / @e2 what do you think of that?

[2017-05-20 13:41] ioquatix commented on #66
After moving this repo to guard org, I no longer have the ability to change any of it's settings. Can someone fix that?

[2017-05-20 13:43] ioquatix commented on #66
I suggest we use the guard org's listen team, and make everyone here part of that, but yeah it would be great if I can still admin the project :D

[2017-05-20 14:35] ioquatix commented on #66
Okay, so I've done some tests. I found in my case, the best way to test rb-inotify was to install listen source code, `rake install` for `rb-inotify`, `bundle update` for `listen`, and then `rspec` in listen, which appears to hammer the `rb-inotify` code base quite a bit. One option might be embedding this into `rb-inotify` so that travis runs a decent number of tests.

[2017-05-20 14:57] ioquatix commented on #52
We are now on release 0.9.8 and I don't seem to be able to reproduce this issue. Thanks for your input and attention everyone and let me know if this is still an issue that requires investigation.

[2017-05-20 14:57] #52 closed

[2017-05-20 15:00] ioquatix commented on #47
I think that right now, this behaviour is outside the scope of the current implementation. The correct solution, is for notifier.run to call select with a wakeup pipe, and for stop to send a single byte down that pipe. I think this belongs elsewhere, e.g. https://github.com/socketry/async/blob/04b3fdae3fa41300777d197b09db54f7ac1d7e2d/lib/async/reactor.rb#L122

[2017-05-20 15:06] ioquatix commented on #66
Found some old dirt:

https://github.com/guard/listen/issues/274
https://github.com/guard/listen/issues/25

Maybe worth revisiting too.

[2017-05-21 05:38] rymai commented on #66
@ioquatix Thanks!

`listen-inotify` as well as https://github.com/guard/rb-inotify/issues/66#issuecomment-302695991 and https://github.com/guard/rb-inotify/issues/66#issuecomment-302873496 also make sense to me.

[2017-05-21 05:40] ioquatix commented on #66
I'm leaning towards `listen-inotify`, `listen-fsevent` and `listen-kqueue`. That doesn't mean someone can't depend on them independently, if they only want a subset of functionality. Can we have a vote on this? Thumbs up for support, thumbs down for against.

[2017-05-21 05:45] ioquatix commented on #66
On point 4, I've been trying to figure out how we can do this.

The listen gem has an awesome test suite. I think we can leverage this (and perhaps guard too). When travis runs tests for `listen-inotify`, I'd also like it to pull the source for `listen` and `guard` and run those full test suites, using the current checkout of `listen-inotify`. I think if we standardise on this, we can just build o

[2017-05-21 17:54] thibaudgg commented on #66
:+1: for `guard/listen-*` gem names, let me know when to create the repositories and at who give admin access.
Please note, that I'll not have a lot of time to migrate `rb-fsevent` to `listen-fsevent` before the end of June.

[2017-05-23 03:29] ttilley commented on #66
I would like to apologize for not participating in this conversation up until now. I haven't had internet access for well over a week and to say that life has been complicated is a massive understatement.

@thibaudgg I'll be better able to catch up on this topic tomorrow after 4-5PM EST. Tell me *exactly* what you need from me and I'll make it a personal priority. rb-fsevent has suffered from negl

[2017-05-23 03:58] ioquatix commented on #66
I'm sure we are all sorry to hear that and I hope whatever is causing your complexity in your life is soon behind you and you can move forward in a positive light.

[2017-05-23 18:32] thibaudgg commented on #66
@ttilley I also sorry to hear about your complicated situation, please take all the time you need before replying to that one.

Using FFI would be nice. If we rename the gem and upgrade the version I would be also fine dropping some old macOS versions to avoid horrible and dangerous hacks 😱. I think the best would be to list advantage/drawback on only supporting recent version and switching to FFI

[2017-05-23 22:59] ttilley commented on #66
​Please forgive me if I'm slightly stream-of-consciousness here in this
reply... It was written on and off over the course of a few hours with
distractions in between.​

Using FFI would be nice. If we rename the gem and upgrade the version I

​Rather than getting rid of these hacks entirely, I could split them out
into a separate dylib since with FFI that's absolutely doable. They are,
unfortunate

[2017-05-23 23:13] ttilley commented on #66
​Please forgive me if I'm slightly stream-of-consciousness here in this
reply... It was written on and off over the course of a few hours with
distractions in between, then re-posted because replying from gmail destroyed the formatting.

​Rather than getting rid of these hacks entirely, I could split them out
into a separate dylib since with FFI that's absolutely doable. They are,
unfortunately, s

[2017-05-24 02:26] ttilley commented on #66
just so nobody absolutely has to read that massive wall of text, i'd like to veto `listen-fsevent` in favor of `listen-fsevents`, as the underlying API uses a plural name and there's no reason for the library name to be singular. it might even be a bit confusing. Other than that, you have both my thumbs emphatically pointed in an upward direction.

[2017-05-24 02:30] ioquatix commented on #66
I'm okay with this form of OCD, I even support it.

[2017-05-24 02:40] ttilley commented on #66
another brief so you don't have to read that wall of text is that i am very much AGAINST releasing a version of `rb-fsevent` that's essentially the new version, but with a post install message to move on. for this library, the situation is somewhat unique as migrating to FFI is a bigger deal than the changes the other backends are undergoing. in the interests of empathy and keeping stress levels o

[2017-05-24 02:42] ioquatix commented on #66
I think it's okay to continue maintaining the existing gems, hell, even a 1.0 release might make sense, but with a deprecation notice - this is no longer being maintained - move to `listen-*`

[2017-06-14 00:42] ioquatix commented on #66
I can't really make much progress on this until someone makes a team and gives me admin access over the repo I migrated - is that possible?

[2017-06-14 07:51] junaruga commented on #66
@ioquatix

You mean that you want admin access to below repositories and to entire guard projects, right?

https://github.com/guard/listen
https://github.com/mat813/rb-kqueue
https://github.com/thibaudgg/rb-fsevent

[2017-06-14 07:56] ioquatix commented on #66
@junaruga Ideally that would be great.

[2017-06-14 16:26] ttilley commented on #66
If a `guard/listen-fsevents` or some such repo is created, please let me know and give me access. what do we want to do for normalizing the module namespaces of backends? @ioquatix

[2017-06-14 16:26] ttilley commented on #66
or should I wait and just take the example of `guard/listen-inotify`?

[2017-06-14 23:35] ioquatix commented on #66
My suggestion is to follow the rubygems naming guide

So, `module Listen::INotify`, `module Listen::FSEvent`, `module Listen::KQueue`.

I think a class with duck type interface `module Listen::X::Monitor` would be great.

[2017-06-14 23:36] ioquatix commented on #66
Ideally, I'd like to see `class Monitor` have a function `to_io` which allows us to use it with a select loop.

[2017-06-15 10:39] thibaudgg commented on #66
@ioquatix @ttilley

I've created the  [listen-inotify](https://github.com/guard/listen-inotify),  [listen-fsevents](https://github.com/guard/listen-fsevents), and [listen-kqueue](https://github.com/guard/listen-kqueue) repositories and give the admin right to the Listen team (which you're part of).

Please let me know if you need more rights. :smile:

[2017-06-15 15:10] ioquatix commented on #66
@thibaudgg thanks can you please also add https://github.com/guard/rb-inotify to the same team.

[2017-06-15 15:24] thibaudgg commented on #66
@ioquatix done!

[2017-06-16 13:46] ioquatix commented on #39
`#to_io` is avaialble on JRuby now. Feel free to submit a PR.

[2017-06-16 13:46] #39 closed

[2017-06-16 13:48] ioquatix commented on #66
I've just release rb-inotify with a few bug fixes and improvements from PRs. I think it may be the last release - if it proove stable I will release as 1.0

[2017-06-16 13:50] ioquatix commented on #66
I would like to propose that listen-* gems don't have any internal asynchronous behaviour - they are entirely synchronus/blocking. If user wants non-blocking operation, they should provide a wrapper IO which implements nonblocking read. JRuby also now supports `to_io` I believe so we can leverage that.

[2017-06-16 15:10] pagameba opened #68 "Breaking change in 0.9.9 from 0.9.8"
https://github.com/guard/rb-inotify/commit/528f86a44d7198a44ed2245b59de324e8a819855#diff-ba0ad9930c92f66b00543bcb9a88fbb6R20 added a breaking change by requiring ruby >= 2.0.0 so now installing compass (which requires rb-inotify >= 0.9) fails when it didn't an hour ago.

[2017-06-16 18:25] guncha commented on #68
Same here. Have you people heard of semver?

[2017-06-16 20:17] owengalenjones commented on #68
Same here.

[2017-06-16 22:26] junaruga commented on #68
This change's affection can happen `sass/sass` Ruby 1.8, 1.9 test on Travis.

https://github.com/junaruga/sass
https://travis-ci.org/sass/sass/branches

[2017-06-17 01:45] matthewd commented on #68
@guncha the SemVer definition explicitly states this is a valid change:

http://semver.org/#what-should-i-do-if-i-update-my-own-dependencies-without-changing-the-public-api

[2017-06-17 02:01] guncha commented on #68
@matthewd, you are, of course, technically correct (the best kind of correct). In spirit, though, if a patch level update breaks the build, which this did for anyone on Ruby 1.9, I'll consider that a semver violation.

[2017-06-17 05:35] ioquatix commented on #68
So, this is my fault, I accept 100% responsibility for this, since I deliberately added that (as I typically add for all gems). I've not tested this gem with 1.9 and actually, didn't imagine anyone was still using 1.9 in any meaningful way, since it's well past end of life.

@guncha It's not a semantic versioning violation, so framing it like that isn't helping. Especially that other gems dependin

[2017-06-17 07:07] ioquatix commented on #68
So, one other option which I think is reasonable, given the work that @junaruga has done in the PR to add travis testing for 1.8 and 1.9, is to implement the following process:

- Revert the version limit, and test on 1.8 and 1.9 - release a 1.0 from this code base.
- Re-assert the Ruby >= 2.0 limit, and release a 2.0 version. All future work done on this branch.

I think this is ultimately a bit

[2017-06-17 09:26] junaruga commented on #68
First of all, I know your situation for maintaining. Thank you for maintaining this package.
I encourage you.

I agree with your opinion.
- `rb-inotify` 0.x supports Ruby 1.8 and 1.9.
- `rb-inotify` 1.x does not support Ruby 1.8 and 1.9.

As a reference, `sass`'s next minor version dump does not support Ruby 1.8 and 1.9.

To develop 1.x version maintaining 0.x version,  creating `0-x-stable` branc

[2017-06-17 09:31] ioquatix commented on #68
Okay, @junaruga let's roll with your idea. It's a good one.

[2017-06-17 09:47] junaruga commented on #68
I like to reopen this ticket until next 0.x version bump.
I like you to close this ticket after next 0.x version bump.

[2017-06-17 10:09] ioquatix commented on #68
It got closed automatically when I merged the PR.

[2017-06-17 10:11] junaruga commented on #68
It may be because of my comment on the PR. Sorry.

[2017-06-17 14:20] Sylor73 commented on #68
When will there be a patch?

[2017-06-17 14:38] matthewd commented on #68
It's worth noting that a modern build environment (e.g., a sufficiently recent version of Bundler) will deal with this situation correctly, and not try to use an incompatible version of a gem.

[2017-06-17 22:46] ioquatix commented on #68
@matthewd I appreciate your positivity. I wonder if the versions of bundler that still work on 1.8 and 1.9 do this or not?

@Sylor73 @pagameba do you mind explaining exactly your use case that lead to the failure? How did you try to install/update? Were you just installing gems using `gem install` or did you use `bundler` and if so how did it fail?

[2017-06-17 22:49] ioquatix commented on #68
@junaruga Are we good to release 0-x-stable as 0.9.10?

[2017-06-17 22:53] junaruga commented on #68
@ioquatix Yes I am fine for that!

[2017-06-17 22:53] deivid-rodriguez commented on #68
@ioquatix I think even the most recent bundler version still supports 1.8 and 1.9! :)

[2017-06-17 22:56] junaruga commented on #68
@ioquatix Bundler supports Ruby 1.8 and 1.9 too.
Ref: https://github.com/bundler/bundler/blob/master/.travis.yml

[2017-06-17 23:13] ioquatix commented on #68
Well, I'm blown away that bundler, with the most recent version, still supports 1.8 and 1.9 - that's crazy amazing!

[2017-06-17 23:31] ioquatix commented on #68
Okay, 0.9.10 has been released from 0-x-stable branch. This is the last release to support Ruby 1.8 and 1.9 - any future development/releases will be on the 1.x family and will no longer support 1.8 or 1.9

[2017-06-17 23:31] #68 closed

[2017-06-19 13:54] pagameba commented on #68
@ioquatix my use case - we have a web site that still requires ubuntu 12.04 because of a PHP 5.3 dependency (in the process of updating but that's another story), part of the tool chain is to use compass which relies on rb-inotify >= 0.9.   I solved the problem for my team by installing rb-inotify=0.9.8 before installing compass.

[2017-06-19 23:15] ioquatix commented on #68
@pagameba Do you use a Gemfile? Can you pin to a specific version of rb-inotify? Is this isn't the only gem you are having issues with given the age of your platform?

[2017-06-20 00:29] pagameba commented on #68
@ioquatix no, I have a Dockerfile for building a docker image for CI but we still use chef for deploying to AWS instances (again, that's in transition).  In both cases, we just `gem install compass`.  As mentioned, `gem install -v 0.9.8 rb-inotify` before installing compass fixes the problem for us.  Its a hopefully short term problem as we are in the final stages of upgrading the entire stack to

[2017-06-29 09:56] phuonglm opened #75 "New child directory not being watched"
Since Inotify not supported recursive so we adding all child directory to watch list. I tested case create new child directory, new event fire and that fine. but go to that child directory and create new file or directory --> nothing happen.

[2017-11-17 11:42] #47 closed

[2017-11-17 11:44] ioquatix commented on #75
Can you provide a failing test case so I can reproduce locally?

[2017-11-17 12:10] ioquatix opened #81 "Build failure on JRuby"
@matthewd any ideas?

https://travis-ci.org/guard/rb-inotify/jobs/303495775

[2017-11-17 12:18] matthewd commented on #81
It's probably something to do with my dodgy "just use a static fork of the downstreams" strategy.

Looks like #80 had approximately the same failure, so that seems to support that theory.

I'll see what I can see.

[2017-11-17 12:19] ioquatix commented on #81
Thanks it’s late so I’m off to bed but if we can fix this I’m up to releasing a new version.

[2017-11-18 00:18] ioquatix commented on #81
Can you point me at the code "just use a static fork of the downstreams" refers to?

[2017-11-18 01:42] matthewd commented on #81
https://github.com/guard/rb-inotify/blob/edd8185fa055b4bd3edc1295e45175d966848362/.travis.yml#L29
https://github.com/guard/rb-inotify/blob/edd8185fa055b4bd3edc1295e45175d966848362/.travis.yml#L36
😅

[2017-11-18 01:46] ioquatix commented on #81
Oh, so this isn't a problem with rb-inotify but the tests that are being performed?

[2017-11-18 01:55] matthewd commented on #81
Yeah, that's my theory. Especially given #80 had the failure: the only practical difference between the previously green master and that PR was time.

[2017-11-18 05:11] ioquatix commented on #81
So, this one *was* passing, but after rerunning it just now, it failed: https://travis-ci.org/guard/rb-inotify/builds/269085800

I wonder if JRuby had a regression of some sort?

cc @headius

[2017-11-18 08:25] matthewd commented on #81
Our Travis config specifies an exact JRuby version, so I think that's off the table, even ignoring the unlikelihood.

When I "froze" the other repositories, I failed to note that they don't have a `Gemfile.lock` -- so we're at the whim of whatever Bundler decides to install based on the current set of published gems. I'll find a coherent set of versions, and see if that helps. We're not here to te

[2017-11-18 08:34] ioquatix commented on #81
Yeah, that makes sense.

[2017-11-18 11:21] matthewd commented on #81
Hmm.. I can't work it out. I had a contemporary clone+lockfile for guard, but that one seems to be [almost] okay anyway.

I didn't have a clone of listen, so I've tried reconstructing a lockfile based on the bundler output from a successful run. But I can't get that one to pass locally: it's showing a bunch of failures no matter what I try. (e.g. I've tried both newer and older versions of JRuby.)

[2018-01-06 03:02] fsobanski opened #82 "Activating watchers"
Thank you for this tool.

I am struggling to correctly understand the [documentation](http://www.rubydoc.info/github/nex3/rb-inotify/INotify/Notifier) of `#watch`. It says

What exactly is activated once `#process` or `#run` is called? The watchers or the callbacks? For example if I call `notifier.watch("path/to/foo.txt", :delete_self) {puts "foo.txt was deleted!"}` then the file gets deleted and

[2018-01-06 22:56] #82 closed

[2018-01-06 23:19] fsobanski opened #83 "Strange behavior of :delete_self"
Hi,

when I create the script `asdf.rb` with the following content
[code]
and then execute the following commands under Debian:
[code]
I get the output:
[code]
So the event fired twice. Do you know why?

When I execute the following script instead:
[code]
then I get no output at all. So the event never fired...

[2018-02-12 11:43] AlexWayfer commented on #61
[code]

:confused:

[2018-02-16 10:26] jagjotsinghparry commented on #61
I am having the same issue as Alex.

Current version: 0.9.7

[2018-03-01 10:25] kriera commented on #61
Same issue here:

yarn add v1.5.1
[1/4] Resolving packages...
⠠ array-uniq@^1.0.1E, [2018-03-01T10:22:11.092530 #5507] ERROR -- : run() in thread failed: inotify event queue has overflowed.:\n /usr/local/rvm/gems/ruby-2.5.0/gems/rb-inotify-0.9.10/lib/rb-inotify/event.rb:120:in `initialize'

I'm now stucked how to make aws server to use the gem from e2

gem 'rb-inotify', github: 'e2/rb-inotify', br

[2018-03-01 10:27] ioquatix commented on #61
This issue should have been fixed.

Nothing has changed for a long time yet in the past month there are several new reports of the issue (here).

Is there something common causing this problem? e.g. an updated Ruby version or Linux kernel?

I am happy to help on resolving this issue.

[2018-03-01 11:42] kriera commented on #61
i've updated all the versions to the latest, node, npm, nvm, ruby 2.5.0, yarn 1.51 and so on... yet the same issue. it's driving me crazy :/

[2018-03-01 11:42] ioquatix commented on #61
Do you think you can produce a (small) test case which reproduces the issue? Something I can run locally?

[2018-03-12 17:47] fasaxc opened #85 "stack level too deep when running with musl on Alpine"
I hit a stack level too deep error while running jekyll in the jekyll-docker container (https://github.com/envygeeks/jekyll-docker/issues/212), which uses musl as its libc.  They said that the bug belonged here.  Assuming that rb-inotify owns the offending thread, I think you should be able to set the stack size at thread creation time

## Description

We use `jekyll/jekyll:pages` for local testin

[2018-03-31 19:42] dpod916 commented on #61
having the same issue here

[2018-04-11 20:11] msducheminjr opened #86 "Allows versions of ffi (1.9.22, 1.9.23) that throw SIGABRT (RHEL/Centos) or Segfault (MacOS)"
I recently updated a Rails 5.1 bundle on systems running Centos 6 and RHEL7 and then my DelayedJob workers would abort when I tried to start the commands.

[code]

I chased the bundle update down gem by gem and determined that ```bundle update spring-watcher-listen``` was causing the Aborted on DelayedJob startup.

There are issues [Segfault on macOS with ffi > 1.9.21](https://github.com/ffi/ffi/i

[2018-05-08 00:26] ioquatix commented on #66
Since this issue has been revived from the dead, I'll give an update of what I've been working on.

https://github.com/socketry/async is a concurrency library for Ruby.

As above, I mentioned the `listen-*` gems should be entirely synchronous - I still agree with that to some extent, it's a good baseline that can be integrated into higher level abstractions (e.g. threads, reactors, callbacks, or a

[2018-05-22 18:17] techgique commented on #86
We are running our apps on CentOS 7 with Phusion Passenger via Apache. We also recently updated a few Rails apps to Ruby 2.5.1 and Rails 5.2.0 and have seen sporadic "Incomplete response received from application" Apache error pages. Looking at the logs, I see this:
[code]
Our `Gemfile.lock` reads `ffi (1.9.21)` so we're trying the suggested changes to version constraints. Thanks @msducheminjr for

[2018-06-02 10:53] crmaxx commented on #61
I fixed issue with `inotify event queue has overflowed` on Ubuntu 16.04 by appending this to `/etc/sysctl.conf`
[code]

[2018-06-02 22:19] ioquatix commented on #61
Do you think this was a resource limit causing the problem?

[2018-07-08 00:04] kfpo commented on #61
Same here, this works for me:
https://github.com/guard/listen/wiki/Increasing-the-amount-of-inotify-watchers
[code]

[2018-07-25 08:24] sspreitzer opened #89 "Recursive flag does not watch files in subdirectories"
Hi all

As far as i understand from the code, the `:recursive` flag does not watch files in subdirectories, but only directories.

Is this a bug or intended?

[2018-10-04 13:18] wmakley commented on #48
Just ran into this problem when using docker. I had a volume for postgresql data owned by root in my project, and rb-inotify just crashed. I'm moving it elsewhere as a workaround, but it would be nice to ignore it and not crash.

[2018-12-15 04:48] ioquatix opened #90 "Test on 2.6"
Still waiting on https://github.com/guard/guard/issues/922

[2018-12-15 04:50] ioquatix commented on #86
Has upstream `ffi` fixed this issue yet?

[2018-12-15 04:51] ioquatix commented on #86
I see the latest version is 1.9.25 - does this fix the issue?

[2018-12-15 23:09] ioquatix commented on #90
Fixed.

[2018-12-15 23:09] #90 closed

[2018-12-15 23:10] ioquatix commented on #89
What do you think makes the most sense?

[2018-12-15 23:10] ioquatix commented on #86
Assuming this is no longer a problem, as ffi has released new versions.

[2018-12-15 23:10] #86 closed

[2018-12-15 23:11] ioquatix commented on #85
Is this still an issue with v0.10.0? Can you make a small repro/spec?

[2018-12-15 23:11] ioquatix commented on #81
The latest version passes on jruby.

https://travis-ci.org/guard/rb-inotify

[2018-12-15 23:11] #81 closed

[2018-12-15 23:13] ioquatix commented on #66
I've started working on bringing these gems up to date for Ruby 2.6

I'd like to revisit these issues.

Does anyone else still have bandwidth for this project?

[2018-12-15 23:16] #61 closed

[2018-12-15 23:17] ioquatix commented on #45
Can you please create a new issue if this problem still exists.

[2018-12-15 23:17] #45 closed

[2018-12-15 23:19] ioquatix commented on #21
Running the example provided by @juhaerk seems to work correctly.

[2018-12-15 23:19] #21 closed

[2018-12-15 23:20] ioquatix commented on #75
@phuonglm Can you please check if this bug still occurs and can you provide a small repro/spec?

[2018-12-15 23:20] #75 closed

[2018-12-16 04:58] phuonglm commented on #75
I using vagrant gatling rsync on linux machine and a got this problem. I'll try to reproduce this problem with simple ruby script

[2018-12-19 20:14] enebo opened #91 "JRuby shows Thread termination exceptions with 0.10.0."
JRuby shows Thread termination exceptions with 0.10.0.  Note that whatever exception occurs the command completes and I notice no problems other than the massive backtrace.  I also notice something when performing a db:migrate.

If I had to guess I would say we (jruby) maybe is throwing the wrong exception?  We are also trying to dig deeper on cause but you may know what was changed in rb-inotify

[2018-12-19 22:05] headius commented on #91
There are two exceptions here.

The SelectorPool exception is due to a bug in JRuby; when the selector has been closed, accessing the selector keys (as we do to clear it when returning it to the pool) raises a ClosedSelectorException, which for some reason extends IllegalStateException instead of an IOException. As a result we don't raise anything reasonable for it, and it bubbles out as this nast

[2018-12-20 02:07] matthewd commented on #91
This sounds like it's my fault: https://github.com/guard/rb-inotify/commit/c6a161cf0c97a6550204d6788e90c0e920c6fdcb#diff-b45361f26e8f95687c1c484833b7122fL298

Sadly I don't recall exactly why I believed it was safe to stop rescuing that -- this change has taken a while to make it into a release -- but I think it was some general assumption that unifying the gem's behaviour would mean it shouldn't

[2018-12-20 19:48] headius commented on #91
@matthewd Thanks for pointing that out! I had not looked at the most recent code so the IOError rescue was still there.

I confirmed that MRI also throws this nonspecific IOError when attempting to call `fileno` on a closed stream, so at least that error is correct:

[code]

So the question remains why that stream is being closed before `fileno` is called.

[2019-02-04 21:56] enebo commented on #91
@matthewd @headius  Ok I made a break through.   A condition which seems to trigger this is to force an exit:

[code]

This fires JRuby finalization while whatever thread is on rb-inotify continues to run.  When we get to:

[code]
I am guessing the selector represented by the ifnotify fd gets closed which in turn races with the threads access to the fd and selector.  So we at least know what is ha

[2019-02-05 00:51] matthewd commented on #91
Ah, interesting!

From that description, I think I would expect the other thread to be killed (in a friendly cooperative way) / no longer running ruby code before JRuby starts [finalizing or] discarding internal resources it might be relying on.

Alternatively, the now-closed IO could lie, and act like the other end went away.

Either way, it doesn't seem right for us to be getting the "you alread

[2019-02-05 13:13] PixLed commented on #61
I think I still have this issue, and I can't manage to solve it.
I am working on Manjaro 18.0.2 .
I applied all the possible methods to "increase the amount of inotify watchers", and here is my output for `sudo sysctl --system` :
[code]
`ruby -v` :
[code]
I am using `rails 5.2.2` and `listen 3.1.5` gems.

Notice that everything seems to work normally, but even running "bin/rails -h" spams hundreds

[2019-02-05 18:06] enebo commented on #91
@matthewd we are looking more closely on our side.  That cleanup we do probably can be deleted and it unfortunately does not completely kill the race.  The cleanup() method in question was added for an embedding use-case but we are not totally sure why it would have helped.

We may end up with suggested changes for rb-inotify but we are still pulling on threads to see what we find.

[2019-02-05 19:46] headius commented on #91
A bit more info...

MRI does appear to actively shut down all known threads when the VM tears down. Logic in `rb_thread_terminate_all` triggers a TerminateSignal exception to be enqueued on each thread, and then it waits in a loop for them all to shut down (indicated by there being no more "living" threads at the VM level).

This has been proposed for JRuby, but we have been reluctant to do it sin

[2019-02-06 01:09] headius commented on #91
We've had more discussion and I think a combination of reverting a commit in JRuby (related to select errors) and having you mark your inotify streams `autoclose = false` we will be able to eliminate all the noise. I believe @enebo is continuing to test and will try to come up with a PR for the autoclose bit.

This really comes down to a thread behavior difference with MRI. Where they will forcibl

[2019-02-11 17:11] enebo commented on #91
@matthewd any thoughts on this one?  If we release right now it still pull 0.10.0 which will generate reports for JRuby/rb-inotify.

[2019-02-18 10:45] alexanderadam commented on #48
Having the same issue right now. So is it somehow possible to ignore certain directories?

[2019-03-18 09:53] ShuangxuQiu commented on #23
works for me,thx

[2019-03-24 08:17] prcongithub commented on #61
I am facing similar issue with JRuby-9.2.6.0 and Rails-5.2.2.1

[2019-03-24 08:23] ioquatix commented on #61
IMHO, JRuby has got issues... but it is probably worth looking into this further. Why is the stream closing? That's the first thing I'd investigate. Is the binary crashing?

[2019-05-17 02:03] ultrasam opened #94 "Starting Rails Server fails on Raspberry PI 3 B+"
I´ve been trying to install rbenv, ruby and rails in my Raspberry Pi 3 B+ in the past couple of days and after some issues here and there I've managed to get everything installed with no errors

With rbenv I installed both Ruby 2.6.3 and Ruby 2.5.5
Using Rails 5.2.3

and with both ruby versions I am getting the same problem when I execute the command:
[code]

### Steps to reproduce

1) On a Raspbe

[2019-05-18 16:07] ultrasam commented on #94
I am following a tutorial to learn Ruby on Rails and I am also getting the same error when I try to run the following Rails command:
[code]
Now I am basically stucked

[2019-06-04 12:52] johhnry commented on #94
Hi there,

I have the exact same issue on Rpi3 with Rails 5.2.3 and Ruby 2.3.3p222.
I just reported the issue here : https://bugs.ruby-lang.org/issues/15898

[2019-06-04 17:00] ultrasam commented on #94
So, now you know it still happens with a later ruby version :(, let's wait and see if someone has found a solution for this

[2019-06-04 18:14] junaruga commented on #94
I thinks ways to solve this issue is

* to add armv7l (ARM 32-bit) case to Travis CI with multiarch docker container.
  Example to add the case to Travis CI. https://github.com/jts/nanopolish/blob/master/.travis.yml#L46-L75
* to start to use ARM 32-bit providing CI such as Shippable CI, Drone CI.
  * Shippalbe CI: https://app.shippable.com/
    Example: https://github.com/junaruga/ci-multi-arch-te

[2019-06-04 22:53] johhnry commented on #94
@ultrasam
Well it just worked by installing Ruby 2.6.3 with this script (https://gist.github.com/blacktm/8302741 from the answer on ruby bug tracker).

[2019-06-05 01:24] ultrasam commented on #94
@johhnry so the Rails server is now working for you?

[2019-06-05 20:45] johhnry commented on #94
@ultrasam
Yes it's working fine. I just had to change the Ruby version in the Gemfile and the .ruby-version file.

[2019-07-19 20:31] ricardo5401 commented on #89
any updates for this issue?

[2019-07-19 21:16] ioquatix commented on #89
I guess we don’t know what the desired behaviour is yet, but watching all subdirectories might make sense or might be performance issue.

[2019-09-07 00:13] manikandan-kandasamy opened #95 "Get UID/Username of a deleted file or folder entry"
Hi,

I would like to fetch the user id (UID) or username of who has deleted a file or folder entry from inotifier.

As the file is not present (after deletion), we can't get it from the stat.

Does `rb-inotify` already supports it? If not how it can be addressed? Any workarounds?

Your early reply will be highly appreciated.

- **Event:**
[code]
**Environment details:**
- **OS:**
[code]

- **Ruby

[2019-09-07 06:49] ioquatix commented on #95
Is it possible using native C methods?

[2019-09-07 11:34] manikandan-kandasamy commented on #95
@ioquatix Thanks for your reply. Is it a question or a probable solution you are proposing.

If it's a probable solution then yes, if we can consume those native C methods from Ruby.

Thank you!

[2019-09-07 18:58] ioquatix commented on #95
No, it’s just that I don’t know if any information like that is present, so I’m wondering if there is C API which provides what you want.

Otherwise what about caching the information you want?

[2019-09-08 00:53] manikandan-kandasamy commented on #95
@ioquatix Thank you very much for your reply.

Ok, I don't have much idea about caching in this regard. What sort of information we need to cache? The filesystem snapshot (list of files and its metadata)? Can you please provide more intel on that.

**Requirement/Use case:** When a user deletes a file, we want to know the UID and username of the user along with the deleted file path.

Even though i

[2019-09-08 01:49] ioquatix commented on #95
This is definitely outside the scope of `rb-inotify`. But it makes sense and it's not a stupid idea.

You'd probably need to join the dots together. If this is a commercial project, I'd be happy to work on this for you as a paid consultant.

[2019-09-24 18:50] mnash88 commented on #61
We're also seeing a similar issue running within a docker container using the `ruby:2.5.5` image:
[code]

[2019-12-16 20:56] matti commented on #61
yep, still an issue with docker

[2019-12-24 05:59] #91 closed

[2019-12-24 06:49] #95 closed

[2019-12-24 06:51] ioquatix commented on #94
Closing as seems fixed. Please let me know if this is not the case.

[2019-12-24 06:51] #94 closed

[2019-12-24 06:52] ioquatix commented on #18
Feel free to submit a failing PR either here or in the listen gem.

[2019-12-24 06:52] #18 closed

[2020-01-24 21:37] mnightwardskytap opened #97 "Update ruby-ffi version"
Hello all,

According to https://nvd.nist.gov/vuln/detail/CVE-2018-1000201 ffi versions 1.9.23 and earlier have a DLL loading issue. Can https://github.com/guard/rb-inotify/blob/master/rb-inotify.gemspec be updated to require v1.9.24 or later?

Thanks!

[2020-01-28 23:29] daveola opened #98 "inotify somehow missing modification events for dropbox file"
I'm trying to use rb-inotify to watch a file that gets appended to by dropbox (sync to local computer).

I have even tried watching for any events:

queue.watch(filename, :all_events) { puts "EVENT!" }

But I see nothing if dropbox modifies the file (though I do see this message if I append to the file directly).

How is the dropbox app getting around inotify in it's file modifications??

[2020-03-06 06:58] mirelon opened #99 "warning: rb_safe_level will be removed in Ruby 3.0"
When using Ruby 2.7.0, Rails 6.1.2.1, I get the following warning:

.../gems/rb-inotify-0.10.0/lib/rb-inotify/watcher.rb:66: warning: rb_safe_level will be removed in Ruby 3.0

[2020-03-10 06:32] ioquatix commented on #99
Do you want to make a PR to remove it?

[2020-03-10 06:47] mirelon commented on #99
If no one else, I will probably make it at the weekend.

[2020-03-14 09:38] mirelon commented on #99
It is no issue of rb-inotify, but the ffi dependency.
I had ffi with version 1.11.2
Running `bundle update ffi` increases the ffi version to 1.12.2, which fixes the issue.

More details about ruby 2.7 compatibility:
https://github.com/ffi/ffi/blob/master/CHANGELOG.md

[2020-03-14 09:38] #99 closed

[2020-03-28 17:12] alxx commented on #89
Since the notifier can only watch one file at a time, which for me is a serious limitation, I also think that at least the :recursive flag might be used as a (bad) workaround for that.

[2020-07-10 09:06] pschrammel commented on #61
has anybody a solution/workaround?

[2020-11-17 18:13] itsyoshio commented on #94
I do get the same issue with ruby 2.7.1, 2.7.2 on a Pi 4 unless i change

[code]
to
[code]

Even then, i can boot the application and use it (haven't tested everything yet)
Still
`rails console` results in Segfault

`/home/pi/.rbenv/versions/2.7.2/lib/ruby/gems/2.7.0/gems/rb-inotify-0.10.1/lib/rb-inotify/notifier.rb:62: [BUG] Segmentation fault at 0xe92d000e
ruby 2.7.2p137 (2020-10-01 revision 544

[2020-12-15 13:25] itsyoshio commented on #94
For anyone encountering the same Problem : Upgrade your Pi(4) to use USB 3.0 Sticks on the Boot Medium instead of USB 2.0 Sticks. Not only did it fix the Issue for me, it also improved the Performance of my Rails Application atleast 8 Fold.

[2021-06-23 11:48] metaskills opened #105 "Compiled C Extension Non-FFI Tools?"
To your knowledge is there another Ruby project that compiles a C extension vs using FFI? I've done some measurements with ruby-libvips which also uses FFI and I think I have witnessed a very very small performance loss when using FFI. So was just wondering if you knew of inotify alternatives?

Thanks in advance!

[2021-07-23 03:31] seanleblanc opened #106 "Upgrading old application from Ruby 1.8.7 to 2.7.4, getting error about RUBY_ENGINE in ffi"
I'm getting an error about RUBY_ENGINE when I try to use rb-inotify.

/usr/local/rvm/gems/ruby-2.7.4/gems/ffi-1.15.3/lib/ffi.rb: uninitialized constant RUBY_ENGINE (NameError)

[2021-10-19 10:10] sanemat opened #107 "Got Errno::ENOSYS with docker linux/amd64 on arm64 m1 mac with Rails"
I got error below with linux/amd64 container on arm64 m1 mac

with
[code]

[code]

then
[code]
----

OK pattern, without listen gem
with
[code]

then
[code]

----
environments:
- Ruby 2.6.8
- rb-inotify-0.10.1
- Docker
  - ruby:2.6.8-slim-stretch
  - Docker version 20.10.8, build 3967b7d
- rails 6.1.4.1
- bundler 2.2.26
- MacBook Air (M1, 2020)
  - macOS Big Sur version 11.6 (20G165)
  - Chip Appl

[2022-02-03 21:41] djones commented on #107
+1. Multiple folks on my team are impacted by this.

Is there an alternative filesystem change API that can be used?

@sanemat you said:

does that mean with this configuration, it works for you?

[2022-02-04 22:08] ioquatix commented on #107
Using a file system checker that calls `sleep` and then scans the entire file system under the root can work as a default - works everywhere solution. I don't know if the listen gem supports that but I believe it's reasonable implementation if slow, so maybe it's available somewhere.